body {
    background: url("bridge_background.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 { 
    color: snow;
    text-align: center;
    font-family: Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 44px;
}

h3, p { 
    color: snow;
    text-align: center;
    font-family: Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
footer { 
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
    font-family: Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}